<!DOCTYPE html>
<html lang="{{ site.data.metadata.lang | default: 'en' }}" color-mode="user">

<head>
  <meta charset="utf-8" />
  <title>
    {{ site.data.metadata.title | default: 'Plain Vanilla GitHub Pages' }}
  </title>
  <meta name="description"
    content="{{ site.data.metadata.description | default: 'Free, easy, low-tech website template using GitHub Pages' }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="icon" href="favicon.ico" sizes="any" />

  <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
  <link rel="stylesheet" href="assets/css/custom.css" />
</head>

<body class="{% if page.body-style %}{{ page.body-style }}{% else %}p-3{% endif %}">
  <main style="max-width: 80ch">
    <h1>That’s the Pod</h1>
    {% for post in site.posts limit: 30 %}
    <article>
      <h2>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h2>

      <!-- <img src="{{ site.baseurl }}/assets/img/mfm-cover.jpeg" width="120"
        style="float: left; margin-inline-end: 0.5em; margin-block-end: 1em" /> -->

      <div>{{ post.tag }}</div>
      <small>{{ post.date | date_to_string }}</small>

      <div style="clear: both">
        {{ post.content | strip_html | remove: "Your browser does not support the audio element." | truncatewords: 35
        }}
      </div>
    </article>
    <hr />
    {% endfor %}
  </main>
  <script src="assets/js/main.js"></script>
</body>

</html>